# ==========================
# Build System (CMake)
# ==========================
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# ==========================
# Compiled Binaries & Outputs
# ==========================
bin/
out/
build/
dist/
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj
*.lo

# ==========================
# Logs & Dumps
# ==========================
*.log
*.stackdump

# ==========================
# IDE / Editors Crap
# ==========================

# VSCode
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
.vs/

# CLion / IntelliJ IDEA
.idea/
cmake-build-*/

# Zed
.zed/

# Eclipse
.project
.cproject
.settings/
.metadata/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
DerivedData/

# ==========================
# OS Junk
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Other Random Crap
# ==========================
*.swp
*.swo
*~
